<%= @portfolio.name %><br/>
<%= @portfolio.header %><br/>
<%= @portfolio.catergory %><br/>
<hr>
    <h2>***PORTFOLIO'S PROJECTS WILL BE DISPLAYED HERE***</h2>
    <%# render 'projects/portfolio_project' %>
<hr>

<hr>
    <h2>***PORTFOLIO'S REVIEWS WILL BE DISPLAYED HERE***</h2>
    <%# render 'projects/portfolio_review' %>
<hr>