<h1><%= @portfolio.name %><br/></h1>
<h2><%= @portfolio.header %><br/></h2>
Category:<em><%= "#{" " + @portfolio.category}" %></em><br/>
<hr>
    <h2>***PORTFOLIO'S PROJECTS WILL BE DISPLAYED HERE***</h2>
    <%# render 'projects/portfolio_project' %>
<hr>

<hr>
    <h2>***PORTFOLIO'S REVIEWS WILL BE DISPLAYED HERE***</h2>
    <%# render 'projects/portfolio_review' %>
<hr>